<!DOCTYPE html>

<html lang="en">
{% block head %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}

  <title>{% block browsertitle %}{% endblock %} - hpcweb</title>

{# Bootstrap Styling #}
<link rel="stylesheet" href="{{ static('home/css/bootstrap.min.css') }}?13">

  <link rel="stylesheet" href="{{ static('home/css/hpcweb.css') }}?13" />
  <link rel="stylesheet" href="{{ static('home/css/prism4.css') }}" />
  <link rel="stylesheet" href="{{ static('home/css/inl_basics.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{{ static('home/js/jquery-3.5.1.min.js') }}"></script>

  {# Icon Library #}
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="{{ static('home/js/popper.min.js') }}"></script>

    <script src="{{ static('home/js/bootstrap.min.js') }}"></script>

    <script src="{{ static('home/js/switch_menu.js') }}" defer></script>
    <script src="{{ static('home/js/divfloater.js') }}" defer></script>
    {% block addtohead %}

    {% endblock addtohead %}
    <script>
        $(document).ready(function(){
            $('.scrollbox-screen-height').css('max-height', $(window).height() - 300);
            $('[data-bs-toggle="tooltip"]').tooltip();
    {%- block addtodocumentready %}
    {% endblock addtodocumentready -%}
        });
    </script>
</head>
{% endblock head %}

<body class="language-bash">{# language-bash for prism #}

{% block pageheader %}
{# Start Banner #}
<div id="banner" class="banner">
  <nav class="navbar navbar-expand-md navbar-dark" role="navigation">


    <div class="container-fluid">
      {# Mountain Graphic #}
      <div class="col-5"></div>
      <a class="navbar-brand col align-self-center" href ="{{ url('dcim:datacenter') }}"><img src="{{ static('dcim/images/hpc_horizontal-11.png') }}" alt=""/></a>
    </div>
    </nav>
</div> {# End Banner #}
{% endblock pageheader %}

{% block content %}
    {# Start Breadcrumbs and Header #}
    <div class="{% block wrappercontainertype %}container-fluid{% endblock %}">
      <div id="header">
        <h1>{% block pagetitle %}This page doesn't seem to have a title{% endblock %}</h1>
        <ol class="breadcrumb">
{% block breadcrumbs %}
          <li class="breadcrumb-item" aria-current="page"><a href="{{ url('dcim:datacenter') }}">Datacenter</a></li>
{% endblock breadcrumbs %}
          <li class="breadcrumb-item"> </li>
        </ol>
      </div>
    </div>
    {# End Breadcrumbs and Header #}


    {# Start full width blue rule #}
    <div class="row"></div>

    {# Start Content #}
    <div id="content">
      <div class="{% block contentcontainertype %}container-fluid{% endblock %}">
{%- block contentprerow %}
{%- endblock contentprerow %}

        <div class="row">
{% block contentrow %}
          {# Start Main Column #}
          <div class="main">

            {% block maincontent %}
            <p>This page seems to not have any content.</p>
            {% endblock maincontent %}
            </div>
{% endblock contentrow %}

        </div>{# end .row #}
      </div>{# end .container #}
    </div>{# end #content #}
{% endblock content %}

{% block footer %}
    {# Start Footer #}
    <div id="footerwrapper">
      <div id="footer" class="row">
        <div class="container-fluid">
          <div class="row">
            <div>
              <img src="{{ static('home/images/logo_INL.png') }}" class="img-fluid' %}" alt="" style="padding-right: 10px;"/>
              <img src="{{ static('home/images/logo_DOE.png') }}" class="img-fluid' %}" alt="" style="padding-left: 10px;"/>
            </div>
          </div>

          <div class="address">
            {% block copyright %}
            <div>
              <i class="white_txt">
              This research made use of Idaho National Laboratory's High Performance Computing systems located at the Collaborative Computing Center and supported by the Office of Nuclear Energy of the U.S. Department of Energy and the Nuclear Science User Facilities under Contract No. DE-AC07-05ID14517.
              </i>
            </div>
            {% endblock copyright %}
            <div>

              {% if is_staff %}
              {% if last_edit %}
              <p id="pageinfo" class="info" lang="en" dir="ltr">This page last edited {{ last_edit }} by {{ author }}.</p>
              {% endif %}
              <p>
              </p>
              {% endif %}
            </div>
          </div>

        </div> {# End Container #}
      </div> {# End Footer #}
    </div> {# End Footer Wrapper #}
{% endblock footer %}

</body>
</html>
