{% extends 'home/base.jinja' %}
{% block browsertitle %}{% endblock browsertitle %}
{% block pagetitle %}{% endblock pagetitle %}
{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block addtodocumentready %}
{% endblock addtodocumentready %}

{% block wrappercontainertype %} container-fluid {% endblock %}
{% block contentcontainertype %} container-fluid {% endblock %}

{% block maincontent %}
<div><h1>TV Displays</h1></div>

{% endblock maincontent %}
