*.pyc
*.*.pyc
pbs/images/
license/images/
static/reporting/images/hpc_usage*.png
static/reporting/images/institutions*.png
static/reporting/images/orgs*.png
static/reporting/images/dept*.png
*.swp
*.swo
*.backup
*.DS_Store
*.orig
*.log
env/
venv/
status/updatelock
.vscode
.coverage
.idea/
.*-service
ncrc_login.json

